<div id="wrapper">
	<%= render partial: 'dashboard/sidebar' %>
	<div id="page-wrapper">

		<div align="center"> 
			<h1>New Article</h1>
		</div>
		<%= render 'form', article: @article %>
	</div>
</div>


