<%= render partial: "static/header"%>

<section>

<p id="notice"><%= notice %></p>
 
<div class="container" align="center" style="padding-top: 20px; padding-bottom: 20px;">
	
	<h1>We will get back right at you!</h1>
</div>
</section>



<%= render 'form', contact: @contact %>



