<section>
	<hr>

	<div class="container" align="center">
		<h1> AcidTech</h1>

		<div class="container">
			


		</div>

	</div>

	<div class=" container">
		


		<div class="row">
			

			<div class="col-sm-4">
				
				<div>
					

					<h4>Delivering the Hype within your reach</h4>

					<ul class="footer-category">
							<li><%= link_to " Tech News", static_tech_news_path %> </li>
							<li><%= link_to "Gadget News", static_gadget_news_path %></li>
							<li><%= link_to "Gamers Hub", static_gamers_hub_path %></li>
							<li><%= link_to "DIY", static_diy_path %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>