 .navbar{

  padding-top: 20px;
    margin-bottom:0;
    border:none;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    width: 100%;


  }

  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .nav li{

    font-size: 15px;


    
    padding-left: 20px; 
    padding-right:20px;
    
  }

  .nav.navbar-nav.navbar-center li a {
    color: black;

  }
body {

font-family: 'Roboto', sans-serif;
letter-spacing: 1px;
}




a:hover {

    text-decoration: none !important;
    background-color: transparent;


}


.latest-new img { 
   position: relative; 
   width: 100%; 
   }

.card-img-top {
    width: 100%;
}

.latest-news  h1{

padding-bottom: 20px;
 position: relative;

}

.latest-news h1:after {
 content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;

}


.gamers-hub h1{

padding-bottom: 20px;
 position: relative;

}

.gamers-hub h1:after {
 content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;

}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.article-image {

position: relative;

}

.latest-news {
  padding-right: 50px;
  padding-left: 50px;
}

.latest-news-row{

    position: relative;
    text-align: center;
    background-color: #0bef5c;
}
.latest-news-article-title {

   position: absolute;
    bottom: 8px;
    left: 16px;
}

.article-image:hover{
opacity: 0.5;

}

.latest-news-article-title h1  {
  font-size: 25px;
}

.gamers-hub {

  padding-right: 50px;
  padding-left: 50px;
}

.gamers-hub-row{
background-color: #0bef5c;
  
}

.footer-category {

  list-style-type: none;
  
}

.footer-category li {
  padding-top: 10px;
 font-size: 14px;

 font-weight: light;


}
